@import "compass/reset";
@import "grids";
@import "fonts";
@import "layout/header";
@import "layout/footer";
@import "landing/hero";
@import "landing/intro";
@import "landing/features";
@import "landing/portfolio";
@import "landing/contact";

@include border-box-sizing;

.wrapper {
  @include container;
  padding: 80px 10px 60px;
}

body {
  font: 400 15px Lato, Arial, sans-serif;
  color: #999;
  line-height: 23px;
}

a {
  text-decoration: none;
  font: 400 18px Lato, Arial, sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
}

.title {
  font-size: 40px;
  color: #2d3950;
  text-align: center;
  margin-bottom: 30px;
  line-height: 50px;
}

*:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
