/* line 5, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.7/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: RobotoSlab;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/proximanova-light.ttf);
}
/* line 30, ../sass/styles.scss */
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}
/* line 12, ../../.rvm/gems/ruby-2.2.1/gems/susy-2.2.7/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 35, ../sass/styles.scss */
body {
  font: 15px RobotoSlab;
  color: #191b29;
}

/* line 40, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 44, ../sass/styles.scss */
.title, h4 {
  font-weight: bold;
}

/* line 48, ../sass/styles.scss */
input[type=button] {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  cursor: pointer;
}

/* line 54, ../sass/styles.scss */
header {
  display: none;
}

/* line 58, ../sass/styles.scss */
.hero {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
/* line 63, ../sass/styles.scss */
.hero h2 {
  font-size: 30px;
  color: white;
}
/* line 66, ../sass/styles.scss */
.hero h2 span {
  display: block;
  font-size: 15px;
}
/* line 71, ../sass/styles.scss */
.hero input[type=button] {
  margin-top: 50px;
  padding: 7px 30px;
  background-color: white;
  color: #612316;
  font-size: 15px;
  line-height: 20px;
}
/* line 78, ../sass/styles.scss */
.hero input[type=button]:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* line 90, ../sass/styles.scss */
.hero-list {
  margin-top: 50px;
  text-align: center;
}
/* line 93, ../sass/styles.scss */
.hero-list li {
  width: 300px;
  margin: 50px auto 0 auto;
  color: #fff;
}
/* line 97, ../sass/styles.scss */
.hero-list li h4 {
  font-size: 30px;
  margin-top: 15px;
  line-height: 14px;
}
/* line 102, ../sass/styles.scss */
.hero-list li p {
  font-size: 15px;
  margin-top: 15px;
  line-height: 20px;
}

/* line 110, ../sass/styles.scss */
.news {
  background-color: #edeff1;
  text-align: center;
}
/* line 113, ../sass/styles.scss */
.news h3 {
  font-size: 30px;
  line-height: 24px;
}
/* line 117, ../sass/styles.scss */
.news input[type=button]:hover {
  background-color: #4e5159;
  color: #fff;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* line 127, ../sass/styles.scss */
.news-list {
  text-align: center;
}
/* line 129, ../sass/styles.scss */
.news-list li {
  width: 300px;
  margin: 50px auto 0 auto;
  line-height: 25px;
}
/* line 133, ../sass/styles.scss */
.news-list li img {
  width: 300px;
}
/* line 136, ../sass/styles.scss */
.news-list li h4 {
  font-size: 24px;
  margin-top: 15px;
  color: #31353e;
}
/* line 141, ../sass/styles.scss */
.news-list li p {
  font-size: 15px;
  margin-top: 10px;
  padding: 0 10px;
}
/* line 147, ../sass/styles.scss */
.news-list input[type=button] {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: white;
  color: #4e5159;
  font-size: 15px;
}

/* line 156, ../sass/styles.scss */
.newsletter {
  background: url(../images/burger.png) no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
/* line 161, ../sass/styles.scss */
.newsletter h3 {
  font-size: 30px;
  line-height: 48px;
}
/* line 165, ../sass/styles.scss */
.newsletter p {
  font-size: 15px;
  margin: 15px auto 0 auto;
  line-height: 24px;
}
/* line 170, ../sass/styles.scss */
.newsletter input[type=email] {
  width: 300px;
  height: 54px;
  margin-top: 40px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 27px;
}
/* line 179, ../sass/styles.scss */
.newsletter input[type=button] {
  margin: 10px;
  width: 213px;
  height: 54px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #612316;
  font-size: 18px;
  line-height: 30px;
}
/* line 188, ../sass/styles.scss */
.newsletter input[type=button]:hover {
  background-color: #4b4e73;
  color: #fff;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* line 200, ../sass/styles.scss */
.product-details img {
  display: block;
  width: 300px;
  margin: 50px auto;
  border: 1px solid #dbdbdb;
}

/* line 208, ../sass/styles.scss */
.product1, .product2 {
  margin: 0 auto;
  width: 300px;
}
/* line 211, ../sass/styles.scss */
.product1 h4, .product2 h4 {
  font-size: 30px;
  line-height: 48px;
}
/* line 215, ../sass/styles.scss */
.product1 p, .product2 p {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 30px;
}
/* line 220, ../sass/styles.scss */
.product1 input[type=button], .product2 input[type=button] {
  padding: 10px 60px;
  background-color: #dd4b2b;
  color: white;
  font-size: 18px;
  line-height: 30px;
}
/* line 226, ../sass/styles.scss */
.product1 input[type=button]:hover, .product2 input[type=button]:hover {
  background-color: #4b4e73;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* line 236, ../sass/styles.scss */
.lists {
  text-align: center;
  background-color: #d75d0e;
}

/* line 241, ../sass/styles.scss */
.list-words {
  width: 300px;
  margin: 50px auto 0 auto;
  text-align: center;
}
/* line 245, ../sass/styles.scss */
.list-words li {
  line-height: 36px;
}
/* line 247, ../sass/styles.scss */
.list-words li a {
  color: #fff;
  font-size: 18px;
}

/* line 254, ../sass/styles.scss */
footer {
  background: url(../images/burger.png) no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 258, ../sass/styles.scss */
footer p {
  margin: 0 auto;
  padding: 0 20px;
  line-height: 24px;
  color: white;
  font: 18px ProximaNova;
}
/* line 264, ../sass/styles.scss */
footer p span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  /* line 272, ../sass/styles.scss */
  .wrapper {
    padding: 100px 0;
  }

  /* line 276, ../sass/styles.scss */
  .slicknav_menu {
    display: none;
  }

  /* line 280, ../sass/styles.scss */
  header {
    display: block;
    width: 100%;
    background-color: #edeff1;
  }
  /* line 284, ../sass/styles.scss */
  header .wrapper {
    padding: 0;
  }
  /* line 286, ../sass/styles.scss */
  header .wrapper h1 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline-block;
    margin: 25px 0;
    line-height: 36px;
    text-align: center;
  }
  /* line 292, ../sass/styles.scss */
  header .wrapper h1 a {
    font: bold 36px RobotoSlab;
    color: #31353e;
  }
  /* line 295, ../sass/styles.scss */
  header .wrapper h1 a span {
    display: block;
    font: 16px RobotoSlab;
    color: #dd4b2b;
  }

  /* line 305, ../sass/styles.scss */
  nav {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    margin-top: 50px;
  }
  /* line 308, ../sass/styles.scss */
  nav li {
    display: inline;
  }
  /* line 310, ../sass/styles.scss */
  nav li a {
    font-size: 18px;
    padding: 10px 20px;
    color: #31353e;
  }
  /* line 314, ../sass/styles.scss */
  nav li a:hover {
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #edeff1;
  }

  /* line 324, ../sass/styles.scss */
  .hero h2 {
    font-size: 72px;
    margin-top: 450px;
    line-height: 48px;
  }
  /* line 328, ../sass/styles.scss */
  .hero h2 span {
    margin-top: 20px;
    font-size: 30px;
  }
  /* line 333, ../sass/styles.scss */
  .hero input[type=button] {
    margin-top: 100px;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 30px;
  }

  /* line 13, ../sass/styles.scss */
  .hero-list:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 343, ../sass/styles.scss */
  .hero-list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 347, ../sass/styles.scss */
  .hero-list li:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 350, ../sass/styles.scss */
  .hero-list li h4 {
    margin-top: 25px;
    line-height: 24px;
  }
  /* line 354, ../sass/styles.scss */
  .hero-list li p {
    margin-top: 25px;
    padding: 0 30px;
    line-height: 30px;
  }

  /* line 363, ../sass/styles.scss */
  .news input[type=button] {
    line-height: 30px;
  }

  /* line 369, ../sass/styles.scss */
  .news-list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline-block;
    line-height: 30px;
  }
  /* line 371, ../sass/styles.scss */
  .news-list li:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 376, ../sass/styles.scss */
  .news-list li p {
    padding: 0 30px;
  }

  /* line 382, ../sass/styles.scss */
  .newsletter p {
    width: 590px;
  }

  /* line 386, ../sass/styles.scss */
  .product1 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 0px;
  }

  /* line 391, ../sass/styles.scss */
  .product2 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    margin-top: 100px;
    clear: both;
  }

  /* line 399, ../sass/styles.scss */
  .product-details img:nth-of-type(1) {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  /* line 402, ../sass/styles.scss */
  .product-details img:nth-of-type(2) {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 407, ../sass/styles.scss */
  .list-words {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    vertical-align: top;
  }
  /* line 410, ../sass/styles.scss */
  .list-words:nth-child(3) {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }

  /* line 416, ../sass/styles.scss */
  footer p {
    display: inline-block;
    width: 670px;
    line-height: 24px;
  }
}
