.contact-us {
  background: url(../images/stay-bg.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  .title {
    opacity: 1;
    color: #fff;
    margin-bottom: 10px;
  }
  h5 {
    color: #999;
  }
  .contact-form {
    margin-top: 50px;
    input[type=text],
    input[type=email],
    textarea {
      width: 290px;
      height: 40px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #999;
      border-radius: 2px;
      background: transparent;
    }
    textarea {
      height: 100px;
    }
    .label {
      #newsletter-subscribe {
        width: 17px;
        height: 17px;
        background-color: rgba(246, 249, 249, 0.54);
        border: 1px solid #9aa1ab;
        border-radius: 2px;
      }
      span {
        vertical-align: top;
      }
    }
  }
    .send {
      margin-top: 15px;
      padding: 10px 40px;
      color: #fff;
      background: transparent;
      border: 1px solid #15a4fa;
      border-radius: 2px;
      cursor: pointer;
      font: 400 18px Lato, Arial, sans-serif;
      &:hover {
        background-color: #15a4fa;
      }
    }
}

@media screen and (min-width: 768px) {
  .contact-us form {
    max-width: 560px;
    margin: 0 auto;
    .contact-form {
      input[type=text],
      input[type=email],
      textarea {
        width: 555px;
        height: 62px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #999;
        border-radius: 2px;
        background: transparent;
      }
      textarea {
        height: 160px;
        margin-bottom: 0;
      }
      .label {
        display: inline;
        float: left;
        margin-top: 35px;
      }
    }
    .send {
      display: inline;
      float: right;
      padding: 17px 50px;
    }
  }
}