.intro {
  background-color: #f6f9f9;
  p {
    max-width: 1101px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .intro p {
    font-size: 20px;
    line-height: 32px;
  }
}