html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  height: 90px;
  background-color: #f6f9f9;
  text-align: center;
}
header .wrapper {
  padding: 0 10px;
}
header .wrapper .logo {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  text-transform: uppercase;
  color: #2d3950;
}
header .wrapper .logo img {
  float: left;
  margin-right: 15px;
}
header .wrapper .logo span {
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .logo {
    float: left;
  }
}
footer {
  background-color: #f6f9f9;
  text-align: center;
}
footer .wrapper {
  padding: 38px 10px;
}
footer .wrapper .social-network {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
footer .wrapper .social-network li {
  display: inline;
}
footer .wrapper .social-network li .fa {
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 15px;
  background-color: #15a4fa;
  border-radius: 2px;
}
footer .wrapper .social-network li .fa:hover {
  color: #15a4fa;
  background: #fff;
}

@media screen and (min-width: 768px) {
  footer .wrapper .social-network {
    display: inline-block;
    float: right;
    margin-bottom: 0;
  }
  footer .wrapper .copyright {
    float: left;
    margin-top: 15px;
  }
}
.hero {
  min-height: 400px;
  position: relative;
  background: url(../images/bg.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
}
.hero .title {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  border-bottom: 2px solid #15a4fa;
  color: #fff;
  text-transform: uppercase;
}
.hero h3 {
  margin: 40px 0 64px;
  font: 400 20px Lato,Arial,sans-serif;
}
.hero .call-to-action {
  display: inline-block;
  padding: 20px 35px;
  margin-bottom: 70px;
  border: 1px solid #15a4fa;
  border-radius: 2px;
}
.hero .call-to-action:hover {
  background-color: #15a4fa;
}
.hero .arrow-down {
  position: absolute;
  bottom: 45px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hero .arrow-down:hover {
  color: #15a4fa;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 130px;
    min-height: 800px;
  }
  .hero .title {
    font-size: 120px;
    padding-bottom: 100px;
  }
  .hero .call-to-action {
    margin-bottom: 170px;
  }
  .hero .arrow-down {
    bottom: 90px;
  }
}
.intro {
  background-color: #f6f9f9;
}
.intro p {
  max-width: 1101px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .intro p {
    font-size: 20px;
    line-height: 32px;
  }
}
.features {
  text-align: center;
}
.features .fa {
  margin-top: 35px;
  font-size: 45px;
  width: 100px;
  height: 100px;
  line-height: 95px;
  border-radius: 2px;
  color: #fff;
  background: -webkit-linear-gradient(right, #48baff 50%, #5fc3ff 50%);
  background: -o-linear-gradient right, #48baff 50%, #5fc3ff 50%;
  background: -moz-linear-gradient(right, #48baff 50%, #5fc3ff 50%);
  background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
}
.features h4 {
  color: #2d3950;
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
}
.features p {
  padding: 0 25px;
  font-size: 15px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .features .features-list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .features .features-list li:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .features .features-list li h4 {
    margin: 20px 0;
  }
}
.portfolio {
  background-color: #f6f9f9;
  text-align: center;
}
.portfolio h5 {
  color: #909090;
  margin-bottom: 25px;
}
.portfolio .portfolio-list > li {
  position: relative;
  display: inline-block;
  margin: 15px 0;
}
.portfolio .portfolio-list > li:hover .portfolio-rollover {
  opacity: 0.9;
}
.portfolio .portfolio-list > li .portfolio-rollover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2cacf7;
  text-align: center;
  opacity: 0;
}
.portfolio .portfolio-list > li .portfolio-rollover li {
  display: inline-block;
  position: relative;
  top: 40%;
  margin-right: 10px;
}
.portfolio .portfolio-list > li .portfolio-rollover li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-list > li .portfolio-rollover li .fa {
  font-size: 25px;
  width: 42px;
  height: 42px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 2px;
}
.portfolio .portfolio-list > li .portfolio-rollover li .fa:hover {
  background-color: #fff;
  color: #13295b;
}

@media screen and (min-width: 768px) {
  .portfolio h5 {
    margin-bottom: 80px;
  }
  .portfolio .portfolio-list > li {
    width: 32.20339%;
    float: left;
  }
  .portfolio .portfolio-list > li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .portfolio .portfolio-list > li:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .portfolio .portfolio-list > li:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
}
.contact-us {
  position: relative;
  background: url(../images/stay-bg.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.contact-us:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(45, 57, 80, 0.8);
  z-index: -1;
}
.contact-us .title {
  color: #fff;
  margin-bottom: 10px;
}
.contact-us h5 {
  color: #999;
}
.contact-us .contact-form {
  max-width: 555px;
  margin: 50px auto 0;
  text-align: center;
}
.contact-us .contact-form input[type=text],
.contact-us .contact-form input[type=email],
.contact-us .contact-form textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 2px;
  background: transparent;
}
.contact-us .contact-form textarea {
  height: 150px;
}
.contact-us .contact-form label {
  margin-top: 10px;
}
.contact-us .contact-form label input[type="checkbox"] {
  margin-top: 5px;
  width: 17px;
  height: 17px;
  background-color: rgba(246, 249, 249, 0.54);
  border: 1px solid #9aa1ab;
  border-radius: 2px;
}
.contact-us .contact-form label span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
}
.contact-us .contact-form input[type=submit] {
  font: 400 18px Lato, Arial, sans-serif;
  width: 142px;
  height: 47px;
  margin-top: 15px;
  color: #fff;
  background: transparent;
  border: 1px solid #15a4fa;
  border-radius: 2px;
  cursor: pointer;
}
.contact-us .contact-form input[type=submit]:hover {
  background-color: #15a4fa;
}

@media screen and (min-width: 768px) {
  .contact-us .contact-form label {
    float: left;
  }
  .contact-us .contact-form input[type=submit] {
    margin-top: 0;
    float: right;
  }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 10px 60px;
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font: 400 15px Lato, Arial, sans-serif;
  color: #999;
  line-height: 23px;
}

a {
  text-decoration: none;
  font: 400 18px Lato, Arial, sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
}

.title {
  font-size: 40px;
  color: #2d3950;
  text-align: center;
  margin-bottom: 30px;
  line-height: 50px;
}

*:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
