.hero {
  min-height: 400px;
  position: relative;
  background: url(../images/bg.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
  .title {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 60px;
    font-weight: 700;
    border-bottom: 2px solid #15a4fa;
    color: #fff;
    text-transform: uppercase;
  }
  h3 {
    margin: 40px 0 64px;
    font: 400 20px Lato,Arial,sans-serif;
  }
  .call-to-action {
    display: inline-block;
    padding: 20px 35px;
    margin-bottom: 70px;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    &:hover {
      background-color: #15a4fa;
    }
  }
  .arrow-down {
    position: absolute;
    bottom: 45px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    &:hover {
      color: #15a4fa;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 130px;
    min-height: 800px;
    .title {
      font-size: 120px;
      padding-bottom: 100px;
    }
    .call-to-action {
      margin-bottom: 170px;
    }
    .arrow-down {
      bottom: 90px;
    }
  }
}