.blog {
  text-align: center;
  background-color: #f7f7f7;
  .blog-list {
    margin-top: 25px;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      max-width: 270px;
      height: 335px;
      margin: 0 10px 25px;
      background-color: #ebebeb;
      vertical-align: top;
      z-index: 2;
      .fa {
        position: absolute;
        top: 140px;
        left:0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        font-size: 25px;
        line-height: 55px;
        color: #fff;
        background-color: #acd373;
        border: 5px solid #ebebeb;
        border-radius: 100%;
      }
      h4 {
        font: 600 18px SourceSansPro;
        padding: 40px 14px;
        color: #454545;
      }
      .read-more {
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        color: #f7f7f7;
        font: italic 14px DroidSerif;
      }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background-color: #acd373;
          z-index: -1;
        }
      }
    }
}



@media screen and (min-width: 1170px) {
  .blog .blog-list {
    margin-top: 57px;
      li {
        @include gallery(3);
      }
  }
}