.blog {
  text-align: center;
  background-color: #f7f7f7;
  .blog-list {
    margin-top: 25px;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      max-width: 270px;
      height: 335px;
      margin: 0 10px 25px;
      background-color: #ebebeb;
      vertical-align: top;
      .fa {
        position: absolute;
        top: 140px;
        left:0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        font-size: 25px;
        line-height: 50px;
        color: #fff;
        background-color: #acd373;
        border: 5px solid #ebebeb;
        border-radius: 100%;
      }
      h4 {
        font: 600 18px SourceSansPro;
        padding: 40px 14px;
        color: #454545;
      }
      .read-more {
        position: absolute;
        display: block;
        height: 50px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 15px;
        color: #f7f7f7;
        font: italic 14px DroidSerif;
        background-color: #acd373;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        &:hover {
          padding-top: 10px;
          font-size: 20px;
        }
      }
    }
   }
}



@media screen and (min-width: 1170px) {
  .blog .blog-list {
    margin-top: 57px;
      li {
        @include gallery(3);
      }
  }
}