.intro {
  .section-title {
    color: #222;
    line-height: 60px;
  }
  p {
    margin: 0 auto;
    max-width: 761px;
    font: 300 15px OpenSans, sans-serif;
    color: #222;
    line-height: 25px;
    text-align: justify;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    p {
      font-size: 20px;
      line-height: 36px;
      text-align: center;
    }
  }
}